wap to calculate the no. of days between 2 dates

In [ ]:
from datetime import datetime

def func1(date1, date2):
    diff = abs((date2 - date1).days) 
    return diff

In [ ]:
date_entry1 = input("Enter the first date (YYYY-MM-DD): ")
year1, month1, day1 = map(int, date_entry1.split('-'))
date1 = datetime(year1, month1, day1)

date_entry2 = input("Enter the second date (YYYY-MM-DD): ")
year2, month2, day2 = map(int, date_entry2.split('-'))
date2 = datetime(year2, month2, day2)
    
days_diff = func1(date1, date2)

print(f"Number of days between {date1.date()} and {date2.date()} is: {days_diff}")

wa func if a string contains numeric and special characters, error otherwise
 len - 20

In [ ]:
import string
def check_string(str1):
    if len(str1) < 20:
        return False, "Error: String should be at least 20 characters long."
    def numeric1(str1):
        for char in str1:
            if char.isdigit():
                return True
            else:
                return False
            
    def specialchar(str1):
        for char in str1:
            if char in string.punctuation():
                return True
            else:
                return False

    if numeric1 == True and specialchar == True:
        return True, "String meets all conditions."
    else:
        return False, "Error: String must contain both numeric and special characters."

In [ ]:
str1 = input("Enter a string: ")
print(str1)
print(check_string(str1))

In [1]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="123654"
)

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000172D433F3E0>

In [2]:
mycursor = mydb.cursor()

In [3]:
#mycursor.execute("CREATE DATABASE mydatabase123")

In [4]:
mycursor.execute("USE mydatabase123")

In [5]:
#mycursor.execute("CREATE TABLE customers (name VARCHAR(255), address VARCHAR(255))")

In [6]:
sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = [
  ('Peter', 'Lowstreet 4'),
  ('Amy', 'Apple st 652'),
  ('Hannah', 'Mountain 21'),
  ('Michael', 'Valley 345'),
  ('Sandy', 'Ocean blvd 2'),
  ('Betty', 'Green Grass 1'),
  ('Richard', 'Sky st 331'),
  ('Susan', 'One way 98'),
  ('Vicky', 'Yellow Garden 2'),
  ('Ben', 'Park Lane 38'),
  ('William', 'Central st 954'),
  ('Chuck', 'Main Road 989'),
  ('Viola', 'Sideway 1633')
]

mycursor.executemany(sql, val)

mydb.commit()

print(mycursor.rowcount, "was inserted.")

13 was inserted.

In [7]:
mycursor.execute("SELECT * FROM customers")

In [8]:
myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('Peter', 'Lowstreet 4')
('Amy', 'Apple st 652')
('Hannah', 'Mountain 21')
('Michael', 'Valley 345')
('Sandy', 'Ocean blvd 2')
('Betty', 'Green Grass 1')
('Richard', 'Sky st 331')
('Susan', 'One way 98')
('Vicky', 'Yellow Garden 2')
('Ben', 'Park Lane 38')
('William', 'Central st 954')
('Chuck', 'Main Road 989')
('Viola', 'Sideway 1633')