In [10]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="123654",
    database="mydatabase123"  
)

if mydb.is_connected():
    print("Connected to MySQL database")

Connected to MySQL database

In [11]:
mycursor = mydb.cursor()

mycursor.execute("""
    CREATE TABLE IF NOT EXISTS users (
        name VARCHAR(255) NOT NULL,
        email VARCHAR(255) UNIQUE,
        address VARCHAR(255)
    )
""")

def insert_user(name, email, address):
    try:
        sql = "INSERT INTO users (name, email, address) VALUES (%s, %s, %s)"
        val = (name, email, address)
        mycursor.execute(sql, val)
        mydb.commit()
        print("User inserted successfully.")
    except mysql.connector.Error as err:
        print(f"Error: {err}")

In [15]:
name = input("Name : ")
email = input("Unique Email ID: ")
address = input("Address: ")

insert_user(name, email, address)

Error: 1062 (23000): Duplicate entry 'piyush123@gmail.com' for key 'users.email'

In [14]:
mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM users")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

(1, 'Peter', 'peter@example.com', 'Banjara Hills, Hyderabad')
(2, 'Piyush', 'piyush123@gmail.com', 'punjab')
(4, 'alanka', 'alanka98983@gmail.com', 'delhi')
(6, 'Piyush', 'Piyush.gala@email.com', 'jharkhand')